<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"> {{!--
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/login.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	{{!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous"> --}}

	<!-- Optional theme -->
	{{!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	 crossorigin="anonymous"> --}} {{!--
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> --}}

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="assets/css/style.css"> {{!--
	<script src="/assets/js/ajaxSetup.js"></script> --}}
	<title>Event Monster</title>
</head>

<body>
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li>
			<a href="#">Profile</a>
		</li>
		<li>
			<a href="/events">Events</a>
		</li>
	</ul>
	<nav>
		<div class="nav-wrapper teal lighten-2" id="navigation-bar">
			<a href="/" class="brand-logo">EventMonster</a>
			<ul class="right">
				<!-- Dropdown Trigger -->
				<li>
					<a class="dropdown-button" href="#!" data-activates="dropdown1">
						<i class="material-icons right" id="nav-icon">account_circle</i>

					</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<br>


	{{{ body }}}

	

	<!-- js scripts are blocking and most should go here for performance -->
	<!-- Include Required Prerequisites -->
	{{!--
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script> --}}
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> {{!--
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" /> --}}

	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

	<!-- Compiled and minified JavaScript for Materialize-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="assets/js/events.js"></script>
</body>

</html>