<h1>Welcome to the Event Monster...you might get eaten ;)</h1>

<h2>Login</h2>
<form class="create-form" id="login-form">

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="emailAddress">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="passwordName">
  </div>

  <button type="submit">Submit</button>
</form>