<h1>Welcome to the Users List</h1>

<button id="create-user">See All Volunteers</button>
<div id="response">

{{#each results}} {{this.first-name}} {{/each}}

</div>
<script src="/assets/js/users.js"></script>