<h1>Welcome to the Users List</h1>

{{!-- <button id="create-user">See All Volunteers</button>
<script id="date-template" type="text/x-handlebars-template"></script>
<div id="response"> --}}




{{#each users}} {{first_name}} {{/each}}



