.brand-logo {
    padding-left: 20px !important;
    font-size: 2.5em !important;
}

h1 {
    text-align: center !important;
    margin-top: 20px !important;
}

#nav-icon {
    padding-right: 10px !important;
    font-size: 40px !important;
}