.brand-logo {
    padding-left: 20px !important;
    font-size: 2.5em !important;
    height: 100px !important;
    width: 300px !important;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    margin: 5px 15px;
}

h1 {
    text-align: center !important;
    margin-top: 20px !important;
}

#nav-icon {
    padding-right: 10px !important;
    font-size: 40px !important;
}

#navigation-bar {
    height: 100px !important;

}

#signup-event {
border:1px solid black;
background-color: red;
}

/* event page edit, delete, signup buttons */
.see-event:hover{
    color: coral;
}

.see-event{
    color:#268ac9
}

.signup-event:hover{
    color: #4db6ac;
}

.signup-event{
    color:green
}

.delete-event:hover{
    color: darkred;
    -ms-transform: rotate(25deg);
    /* IE 9 */
    -webkit-transform: rotate(25deg);
    /* Chrome, Safari, Opera */
    transform: rotate(25deg);
    -webkit-transition-duration: .3s;
    /* Safari 4.0 - 8.0 */
    transition-duration: .3s;
}

.delete-event{
    color:grey;
    -webkit-transition-duration: .6s;
    /* Safari 4.0 - 8.0 */
    transition-duration: .6s;
}
/* ============================================ */